<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HaveAPI WebUI</title>
		<link rel="stylesheet" href="{prefix}css/bootstrap.min.css">
		<link rel="stylesheet" href="{prefix}css/main.css">
  </head>
  <body>
		<div id="container">
			<noscript>
				This is a single page application written in JavaScript, you will have to
				enable JavaScript in order to use it.
			</noscript>
			<script>
			document.write(" \
				<p> \
					If you can see this for a long time, the application is <strong>not</strong> working \
					right. \
				</p> \
			");
			</script>
		</div>
		<script src="{prefix}js/bundle.js"></script>
  </body>
</html>
